@font-face {
    src: url("../fonts/WHITRABT.TTF");
}

* {
    -fx-primary-background-color: #1D2025;
    -fx-secondary-background-color: #333B45;
    -fx-font-color: #E3E4E3;
    -fx-contrast-color: #EFC9A4;
}

.root {
    -fx-background-color: -fx-primary-background-color;
    -fx-font-family: 'White Rabbit';

}
.back-button:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
    -fx-cursor: hand;
}